@import "tailwindcss";

/* Forzamos el fondo gris claro que se ve pro en apps móviles */
:root {
  --background: #f3f4f6; /* Este es el gray-100 que usábamos */
  --foreground: #171717;
}

/* Quitamos el soporte de modo oscuro automático para que en el cel del cliente */
/* siempre se vea con los colores de Lactalis (blanco y azul) */
body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Esto asegura que Tailwind aplique bien las capas */
@layer base {
  * {
    @apply border-gray-200;
  }
}